 body {
    font-family: "Lato", sans-serif;
  }

  .top-container-btn {
    background: transparent;
  }
  .side-nav{
    width :3vw;
    height: 100vh;
    background-color: antiquewhite;
  }
  .left-section{
    background-color:#454444;
    width: 97vw;
  }
  .table-div{
    width: 97vw;
  }
  tr:nth-child(even)  {
    background-color: #f0f0f0;
  }
  .footer {
    position: fixed;
    bottom: 0px;
    background-color: #43699a;
  }
  .footer-img {
    width: 100px;
    height: 100px;
  }